{%extends 'base.html'%}

{% block content %}


<div class="atlasgrid_monitor">

    <h1 style="font-family: 'Protest Strike', sans-serif;">
        Monitor List
    </h1>
    <form id="monitorForm" action="/atlasgrid/monitor/" method="post">
        {% csrf_token %}
        <div>
            <input id="monitorInput" type="text" name="monitor_input" maxlength="200" />
        </div>
        <input type="submit" class="btn btn-primary" value="POST">
    </form>
    <div class="monitor_output_container" style="text-align:left">
        {% if monitor_output %}
            {% for item in monitor_output %}
                {{item.text}} <br>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('monitorForm');
        var input = document.getElementById('monitorInput');
        
        form.addEventListener('submit', function(event) {
            event.preventDefault(); // 폼의 기본 제출 동작을 막습니다.
             
            // 폼 데이터 직렬화
             var formData = $(this).serialize();

             // CSRF 토큰 값을 직렬화된 데이터에 추가
             var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
             formData += '&csrfmiddlewaretoken=' + csrfToken;

            $.ajax({
                type: $(this).attr('method'), // "POST"
                url: $(this).attr('action'),
                data: formData,
                success: function(response) {
                    // 서버로부터 반환된 데이터를 파싱
                    //console.log(response); // 전체 응답 로깅
                    //console.log(response.data); // 'data' 필드의 내용 로깅
                    var items = JSON.parse(response.data);
                    
                    // 목록을 비우고 새로운 데이터로 채움
                    var list = document.querySelector('.monitor_output_container');
                    list.innerHTML = ''; // 기존 목록 비우기
                    items.forEach(function(item) {
                        var text = item.fields.text
                        list.innerHTML += text + '<br>'; // 새로운 항목 추가
                    });
                    $('#monitorInput').focus().val(''); // 입력 필드에 포커스를 다시 맞춥니다.
                    // 입력 필드의 텍스트 길이를 2000자로 제한합니다.
                    $('#monitorInput').attr('maxlength', '2000');
                },
                error: function(xhr, status, error) {
                    console.error(error); // 에러 로깅
                }
            });
        });
    });
</script>

{% endblock %}