{%extends 'base.html'%}

{% block content %}


<div class="atlasgrid_monitor">

    <h1 style="font-family: 'Protest Strike', sans-serif;">
        Monitor List
    </h1>
    <form id="monitorForm" action="/atlasgrid/monitor/" method="post">
        {% csrf_token %}
        <div>
            <input id="monitorInput" type="text" name="monitor_input"/>
        </div>
        <input type="submit" class="btn btn-primary" value="POST">
    </form>

    {% if monitor_output %}
        {% for item in monitor_output %}
        <h1>{{item.text}}</h1>
        {% endfor %}
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('monitorForm');
        var input = document.getElementById('monitorInput');
        
        form.addEventListener('submit', function(event) {
            event.preventDefault(); // 폼의 기본 제출 동작을 막습니다.
             
            // 폼 데이터 직렬화
             var formData = $(this).serialize();

             // CSRF 토큰 값을 직렬화된 데이터에 추가
             var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
             formData += '&csrfmiddlewaretoken=' + csrfToken;

            $.ajax({
                type: $(this).attr('method'), // "POST"
                url: $(this).attr('action'), // "/atlasgrid/monitor/"
                data: formData,
                success: function(data) {
                    // 여기에 성공 시 실행할 코드를 작성
                    // 예: 제출된 데이터를 페이지에 추가
                    console.log("success");
                    console.log(data);
                    $('#monitorInput').focus(); // 성공 후 입력 필드에 포커스를 다시 맞춥니다.
                },
                error: function(xhr, status, error) {
                    console.log("errpr")
                    console.error(error); // 에러 로깅
                }
            });
        });
    });
</script>

{% endblock %}